@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  background-color: rgb(248 250 252);
  color: rgb(15 23 42);
  -webkit-font-smoothing: antialiased;
}
